.counttimer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.apex-charts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-bottom: 0!important;
}